<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Coldmine</title>
</head>
<body>
{{template "top.html" .}}
<div style="margin-bottom:10px;">
	<div>
		<button onclick="showAddForm()">add</button>
		<button onclick="showRemoveForm()">remove</button>
		<button onclick="hideForms()">cancel</button>
	</div>
	<form id="confirm-add" action="/action" method="post" style="display:none">
		Add repository: <input id="add-input" type="text" name="addRepo" placeholder="repo" /> <input type="text" name="password" placeholder="password" /> <input type="submit" value="ok" />
	</form>
	<form id="confirm-remove" action="/action" method="post" style="display:none">
		Remove repository: <input id="remove-input" type="text" name="removeRepo" placeholder="repo" /> <input type="text" name="password" placeholder="password" /> <input type="submit" value="ok" />
	</form>
</div>
<div>
	{{range $grp := .RepoGroups}}
		<div>{{.Name}}</div>
		{{range .Repos}}
			{{if eq $grp.Name ""}}
				<div><a href="/{{.}}/tree/">{{.}}</a></div>
			{{else}}
				<div style="margin-left:20px"><a href="/{{$grp.Name}}/{{.}}/tree/">{{.}}</a></div>
			{{end}}
		{{end}}
		<div style="height:10px"></div>
	{{end}}
</div>

<script>
function showAddForm() {
	document.getElementById("confirm-remove").style.display = "none";
	document.getElementById("confirm-add").style.display = "block";
	document.getElementById("add-input").focus();
}
function showRemoveForm() {
	document.getElementById("confirm-add").style.display = "none";
	document.getElementById("confirm-remove").style.display = "block";
	document.getElementById("remove-input").focus();
}
function hideForms() {
	document.getElementById("confirm-add").style.display = "none";
	document.getElementById("confirm-remove").style.display = "none";
}
</script>

</body>
</html>
