<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Coldmine</title>
</head>
<body>
<div id="top" style="background-color:#DDDDDD; padding:10px;">
	<div style="display:inline-block; font-size:26px">Coldmine /</div>
	<div style="display:inline-block; width:400px; font-size:26px"></div>
	<div style="float:right">
		<button style="font-size:24px">Tree</button>
		<button style="font-size:24px">Review</button>
	</div>
</div>
<div>
	{{range $grp := $}}
		<div>{{.Name}}</div>
		{{range .Repos}}
			{{if eq $grp.Name ""}}
				<div><a href="/{{.}}/">{{.}}</a></div>
			{{else}}
				<div style="margin-left:20px"><a href="/{{$grp.Name}}/{{.}}/">{{.}}</a></div>
			{{end}}
		{{end}}
		<div style="height:10px"></div>
	{{end}}
</div>
</body>
</html>
