<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Coldmine</title>
</head>
<body>
{{template "top.html" .}}
<div style="font-size:20px">Branches: {{range .Branches}}{{.}} {{end}}</div><br>
<div style="font-size:20px"><a href="/{{$.Repo}}/log/">Total {{.NCommits}} Commits</a></div></br>
<div style="font-size:20px">Recent Commits</div>
<div style="margin-left:10px">
	{{range .RecentCommits}}
	<div>
		<a href="/{{$.Repo}}/commit/{{.ID}}">{{.Title}}</a>
	</div>
	{{end}}
</div><br>
<div style="font-size:20px"><a href="/{{$.Repo}}/tree/">{{.NFiles}} Files</a></div>
</body>
</html>
