<!DOCTYPE html>
<html>
{{template "head.html"}}
<body>
{{template "top.html" .}}
<div style="font-size:20px">Branches: {{range .Branches}}{{.}} {{end}}</div><br>
<div style="font-size:20px">
	<a href="/{{$.Repo}}/tree/">Files</a> | 
	<a href="/{{$.Repo}}/log/1">Commits</a> |
	<a href="/{{$.Repo}}/reviews/">Reviews</a>
</div><br>

{{if not .HasReadme}}
	<div style="font-size:20px; margin-bottom:10px;">{{.Repo}} repository don't have README file</div>
{{else}}
	<div style="font-size:20px; margin-bottom:10px;">README</div>
	<div style="width:800px; background-color:#CCCCCC; padding:10px"><pre>{{.Readme}}</pre></div>
{{end}}

</body>
</html>
